[Unit]
Description=My Players Tracker
[Service]
User=pythonadm
WorkingDirectory=/opt/flask-app
ExecStart=/bin/bash \
	-c 'cd /opt/flask-app && \
	source ./venv/bin/activate && \
	gunicorn --workers=4 --bind=0.0.0.0:80 app:app'
Environment=SECRET_KEY={{SECRET_KEY}}
Environment=DATABASE_URI=mysql+pymysql://{{MYSQL_USER}}:{{MYSQL_PASSWORD}}@{{MYSQL_HOST}}/{{MYSQL_DATABASE}}
[Install]
WantedBy=multi-user.target
