{% extends "layout.html" %} 
{% block body_content %}
<section id="intro">
  <h1>Edit Stats</h1>
  <p>Edit Stats for : <b>{{ current.Players.player_name }}</b></p>
  <div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.goals.label }} 
        {{ form.goals }} 
        {% if form.goals.errors %}
        <div class="error">
          {% for error in form.goals.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <br />
      <div class="form-group">
        {{ form.assists.label }} 
        {{ form.assists }} 
        {% if form.assists.errors %}
        <div class="error">
          {% for error in form.assists.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <br />
      <div class="form_group">
        {{ form.chances.label }} 
        {{ form.chances }} 
        {% if form.chances.errors %}
        <div class="error">
          {% for error in form.chances.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <br />
      <div class="form_group">
        {{ form.shots.label }} 
        {{ form.shots }} 
        {% if form.shots.errors %}
        <div class="error">
          {% for error in form.shots.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <br />
      <div class="form_group">
        {{ form.minutes.label }} 
        {{ form.minutes }} 
        {% if form.minutes.errors %}
        <div class="error">
          {% for error in form.minutes.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <br />
      <div class="form_group">
        {{ form.date.label }} 
        {{ form.date }} 
        {% if form.date.errors %}
        <div class="error">
          {% for error in form.date.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <br />
      <br />
      <div class="form_group">
        {{ form.submit }}
      </div>
    </form>
  </div>
  </section>
{% endblock body_content %}

