{% extends "layout.html" %}
{% block body_content %}
<section id="intro">
<p>Welcome to my Home Page!</p>

{% if posts %}

    {% for post in posts %}
        <div>
            <h3>{{ post.title }}</h3>
        <span>by <i>{{ post.author.first_name }} {{ post.author.last_name }}</i></span>
        <span>on the <i>{{ post.date_posted }}</i></span>
        <p>{{ post.content }}</p>
        </div>
    {% endfor %}
{% else %}
    <!-- display a message indicating that there are no posts --> 
    <p>There are no post</p>
<!-- end the 'if' statement -->
{% endif %}

<p>end of home page</p></section>
{% endblock body_content %}