{% extends "layout.html" %}
{% block body_content %}
<section id="intro">
<p>Welcome to my Home Page!</p>

{% if posts %}

    {% for post in posts %}
        <div>
            <h3>{{ post.player_name }}</h3>
        <!-- <span>Added by <i>{{ post.author.first_name }} {{ post.author.last_name }}</i></span> -->
        <br />
        <span><b>Player Age:</b>  <i>{{ post.player_age }}</i></span> 
        
        <p><b>Player Current Team:</b> {{ post.player_team }}</p>
        </div>
    {% endfor %}
{% else %}
    <!-- display a message indicating that there are no posts --> 
    <p>There are no post</p>
<!-- end the 'if' statement -->
{% endif %}

</section>
{% endblock body_content %}