{% extends "layout.html" %}
{% block body_content %}
<section id="intro">
<p>Welcome to my Project Page!</p>
<br />
<h2 >Our users are currently tracking these players</h2>
<p>If you want to start Tracking your own players, <u>Register</u> or <u>Log in</u> from right top cornner</p>
{% if posts %}

    {% for post in posts %}
        <section>
            <h3>{{ post.player_name }}</h3>
            <p><b>Player Current Team:</b> {{ post.player_team }}</p>
        </section>
        <br />
    {% endfor %}
{% else %}
    <!-- display a message indicating that there are no posts --> 
    <p>No players are being tracked yet! </p>
<!-- end the 'if' statement -->
{% endif %}

</section>
{% endblock body_content %}