{% extends "layout.html" %}
{{ form.hidden_tag() }}
{% block body_content %}
<section id="intro">
</br>
</br>
<div class="form">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<br>
		<div class="form-group">
			{{ form.title.label }}
			{{ form.title }}
			{% if form.title.errors %}
			<div class="error">
				{% for error in form.title.errors %}
				    <span>{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			{{ form.content.label }}
			{{ form.content }}
			{% if form.content.errors %}
			<div class="error">
				{% for error in form.content.errors %}
				    <span>{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
		    {{ form.submit }}
		</div>
	</form>
</div></section>
{% endblock body_content %}

